@import url("header.css");
@import url("mapsControl.css");
@import url("countryStats.css");
@import url("mapCountry.css");
@import url("countryCovid.css");
@import url("WorldCovid.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:#EEEEEE;
}

.dark{
    background-color:#19222B;
    
}

.light{
   
    background-color:#EEEEEE;
}

.light .card{
    background-color:#19222B;
   
}

.light header{
   background-color: #206ABE;
   
}

.dark,
.light,
header{
    transition: background-color .3s linear, color .3s linear;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: blod;
    text-align: center;
}

.card{
   
    box-shadow: 0px 0px 0px hsla(0,0%,100%,0.05),0px 0px 0px rgba(0,0,0,0.5),inset -5px -5px 10px hsla(0,0%,100%,0.05),inset 5px 5px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-top: 10px;
}

svg{
    width: 100%;
    height: 100%;
}
