.mapsControl{
    position: absolute;
    bottom: 10px;
    right: 10px;

    z-index: 5;
}

.mapsControl .icon{
    display:flex;
    justify-content: center;
    align-items: center;
    
    width: 15px;
    height: 15px;

    overflow: hidden;
    border-radius: 50%;

    margin-top: 5px ;

    cursor: pointer;
    border: 1px solid transparent;

    background-color: rgb(97, 147, 255);
}

.mapsControl .icon svg{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    fill:white;
}

