.WorldStats{
    width: 80%;
    height: 100%;
    padding: 25px 10px 15px 10px;
}

.WorldStats-stats{
    display: flex;
    flex-wrap: wrap;
}

.WorldStats-title{
    font-size: 25px;
    padding-bottom: 15px;
}


.WorldStats-text{

    font-size: 16px;
    text-align: left;

    padding: 10px 15px;
    
}

.WorldStats-text strong{
    color: #EEEEEE;
}

.WorldStats-text .icon{
    display: inline-block;
    width: 20px;
    height: 20px;
}


@media (min-width:768px){
    .WorldStats{
        width: 35%;
    
    }
}