#charts {
	display: grid;
	grid-template: repeat(2, auto) / 1fr;
	grid-template-areas: 'line' 'circle';
	grid-gap: 25px 25px;

	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: 768px) {
		grid-template: auto / repeat(3, 1fr);
		grid-template-areas: 'line line circle';
		width: 1800px;
	}
}

#line {
	grid-area: line;
}

#circle {
	grid-area: circle;
}

/*
*   Canvas permite CSS y la unica manera de manipularlo en con !important
*/
#circle,
#line {
	width: 100% !important;
	height: 350px !important;

	padding-bottom: 30px;
	padding-top: 20px;
	padding-right: 15px;
	padding-left: 15px;
}
