header{
    display:flex;
    justify-content: space-between;

    padding: 15px 20px;


    //Intentar cambiar el max-width:  al body para limpiar el codigo;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;

    h1{
        display: flex;
        font-size: 28px;
        font-family: 'Roboto', sans-serif;

        .icon{
            margin-left: 15px;
            box-shadow: none;
        }
    }

    .icon{
        width: 35px;
        height: 35px;
    
        svg{
            border-radius: 50%;
        }
    }
}




